{% extends "admin.html" %}
{% block admin_extra_head %}
<style>
    li{
        font-size: 200%;
        list-style: none;
    }
</style>
<script>
        $(document).ready(function() {
            var pressed = false;
            var chars = [];
            $(window).keypress(function(e) {
                if (e.which >= 48 && e.which <= 57) {
                    chars.push(String.fromCharCode(e.which));
                }
                if (pressed == false) {
                    setTimeout(function(){
                        // check we have a long length e.g. it is a barcode
                        if (chars.length >= 10) {
                            var barcode = chars.join("");
                            $.ajax({url: "{{ url }}?codigo="+barcode}).done(function(data) {
                                var tokens = data.split('::');
                                var title = tokens[2];
                                var barcode = tokens[0];
                                var msg = tokens[1];
                                var css = tokens[3];
                                if(css!='alert-danger') $("#barcodes").html("<li>"+barcode+"</li>"+$("#barcodes").html());
                                $("#msg").html(msg);
                                $("#msg").removeClass('alert-danger');
                                $("#msg").removeClass('alert-info');
                                $("#msg").removeClass('alert-default');
                                $("#msg").removeClass('alert-success');
                                $("#msg").addClass(css);
                                if(title) $("#title").html(title);
                            });
                        }
                        chars = [];
                        pressed = false;
                    },500);
                }
                pressed = true;
            });
        });
</script>
{% endblock %}
{% block body %}
<body id="body" style="background-color: white">
    <div class="padding-md">

        <div class="row">
            <div class="col-lg-6">
                <div class="panel-heading">
                    <h3 id="title">{{ title }}</h3>
                </div>
            </div>
            <div class="col-lg-6">
                <div class=" pull-right">
                    <br><a id="" href="{{ voltar_url }}" class="btn btn-default"> Voltar </a>
                </div>
            </div>
        </div>
        <br>
        <div class="alert alert-default text-center" id="msg" style="font-size: 400%">Aguardando escaneamento do promeiro produto....</div>
        <div class="text-center"><img src="/static/scanner.gif"></div>
        <div class="text-center">
            <ul id="barcodes">
            </ul>
        </div>
    </div>
</body>
{% endblock %}