{% extends "relatorio.html" %}

{% block content %}

<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Usuário</dt><dd>{{ request.user }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ hoje }}</dd></dl></td>
    </tr>
</table>
{% if pedido %}
<h3>Dados do Pedido</h3>
<table>
    <tr>
        <td><dl><dt>Data</dt><dd>{{ pedido.data_solicitacao|format }}</dd></dl></td>
        <td><dl><dt>Loja</dt><dd>{{ pedido.transferencia.destino }}</dd></dl></td>
    </tr>
    <tr>
        <td><dl><dt>Tipo de Produto</dt><dd>{{ pedido.tipo_produto }}</dd></dl></td>
        <td><dl><dt>Quantidade</dt><dd>{{ pedido.quantidade }}</dd></dl></td>
    </tr>
</table>
{% endif %}
<h3>Dados da Transferência</h3>
<table>
    <tr>
        <td><dl><dt>Origem</dt><dd>{{ transferencia.origem|default:"Fábrica" }}</dd></dl></td>
        <td><dl><dt>Destino</dt><dd>{{ transferencia.destino }}</dd></dl></td>
    </tr>
</table>

<br>
{{ report }}

{% endblock %}