{% extends "report.html" %}

{% block title %}Sistema de Produção de Placas{% endblock %}

{% block content %}

<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Solicitante</dt><dd>{{ request.user }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ hoje|format }}</dd></dl></td>
    </tr>
    <tr>
        <td><dl><dt>Tipo de Produto</dt><dd>{{ obj.tipo_produto|format }}</dd></dl></td>
        <td><dl><dt>Quantidade</dt><dd>{{ obj.quantidade_solicitada }}</dd></dl></td>
    </tr>
</table>

<h3>Matéria-Prima</h3>
<table>
    <tr>
        <td><dl><dt>Tipo de Película</dt><dd>{{ obj.tipo_pelicula }}</dd></dl></td>
        <td><dl><dt>Qtd de Película</dt><dd>{{ obj.pelicula }} mm²</dd></dl></td>
        <td><dl><dt>Qtd de Alumínio</dt><dd>{{ obj.aluminio }} g</dd></dl></td>
    </tr>
</table>

<h3>Impressão QrCode</h3>
<table>
    <tr>
        <td align="center"><dl><dt>Identificador Inicial</dt><dd><img width="100px" src="{{ primeiro_produto.qrcode }}"/><br>{{ primeiro_produto.codigo|format }}</dd></dl></td>
        <td align="center"><dl><dt>Identificador Final</dt><dd><img width="100px" src="{{ ultimo_produto.qrcode }}"/><br>{{ ultimo_produto.codigo|format }}</dd></dl></td>
    </tr>
</table>

{% endblock %}