{% extends "relatorio.html" %}

{% block content %}

<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Usuário</dt><dd>{{ request.user }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ hoje }}</dd></dl></td>
    </tr>
</table>

<h3>Dados da Transferência</h3>
<table>
    <tr>
        <td><dl><dt>Origem</dt><dd>{{ transferencia.origem|default:"Fábrica" }}</dd></dl></td>
        <td><dl><dt>Destino</dt><dd>{{ transferencia.destino }}</dd></dl></td>
    </tr>
</table>

<br>
{{ report }}

{% endblock %}