{% extends "relatorio.html" %}

{% block content %}

<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Usuário</dt><dd>{{ request.user }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ hoje }}</dd></dl></td>
        <td><dl><dt>Cliente</dt><dd>{{ venda.comprador }}</dd></dl></td>
    </tr>
</table>

{% for i in vias %}
<h3>Produtos</h3>
<table class="table">
    <tr>
        <th>#</th>
        <th>Placa</th>
        <th>Serviço</th>
        <th>Valor</th>
        <th>Deconto</th>
        <th>Total</th>
    </tr>
    {% for item in venda.itemvenda_set.all %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ item.veiculo }}</td>
        <td>{{ item.kit_loja.kit }}</td>
        <td align="right">{{ item.kit_loja.preco|format }}</td>
        <td align="right">0,00</td>
        <td align="right">{{ item.kit_loja.preco  }}</td>
    </tr>
    {% endfor %}
</table>
{% if forloop.counter == 1 %}
<br>
<hr/>
{% endif %}
{% endfor %}
{% endblock %}