{% extends "relatorio.html" %}

{% block content %}

<h3>Dados Gerais</h3>
<table>
    <tr>
        <td><dl><dt>Usuário</dt><dd>{{ request.user }}</dd></dl></td>
        <td><dl><dt>Data</dt><dd>{{ hoje|format }}</dd></dl></td>
    </tr>
</table>
{% if pedido %}
<h3>Dados do Pedido</h3>
<table>
    <tr>
        <td><dl><dt>Loja</dt><dd>{{ pedido.loja }}</dd></dl></td>
        <td><dl><dt>Data do Pedido</dt><dd>{{ pedido.data_solicitacao|format }}</dd></dl></td>
        <td><dl><dt>Data do Envio</dt><dd>{{ pedido.data_envio_produtos|format }}</dd></dl></td>
    </tr>
</table>
{% endif %}

<h3>Itens do Pedido</h3>
<br>
{{ report }}

{% endblock %}