{% extends "report.html" %}

{% block header %}
    <table>
        <!--
        <tr>
            <td rowspan="5" width="200"><img height="70" src="autoplac.png" ></td>
            <td><h1>{% block title %}Loja {{ loja }}{% endblock %}</h1></td>
        </tr>
        -->
        <tr>
            <td>CNPJ: {{ loja.cnpj }}</td>
        </tr>
        <tr>
            <td>E-mail: {{ loja.email }}</td>
        </tr>
        <tr>
            <td>Telefones: {{ loja.telefone_principal }} {{ loja.telefone_secundario }}</td>
        </tr>
        <tr>
            <td>Endereço: {{ loja.endereco }}</td>
        </tr>
    </table>
{% endblock %}

{% block content %}

{% endblock %}