{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <div class="row">

                <div class="col-lg-6 panel-heading">
                    <h3><i class="fa fa-shopping-cart fa-lg"></i> Realizar Pedido</h3>
                </div>
                <div class="col-lg-6">
                    <div class="pull-right">
                        <a class="btn btn-default" name="action" onclick="var l=[];$('input[name=\'quantidade\']').each(function(i) {if(!this.disabled)l.push(this.id.replace('_checkbox', '')+'='+this.value)});var url=l.join('&');if(l.length>0) popup('/add/fabrica/pedido/?'+url); else alert('Por favor, marque os produtos que deseja solicitar.');">
                            Realizar Pedido dos Produtos Selecionados
                        </a>
                    </div>
                </div>
        </div>

        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                Itens do Pedido
            </div>

            <div class="panel-body no-padding">
                <div class="padding-md">


                    <table class="table table-bordered" id="dataTable">
                        <thead>
                            <tr>
                                <th><input id="all" name="" type="checkbox" onclick="$('input[name=\'pk\']').prop('checked', this.checked);$('input[name=\'quantidade\']').prop('disabled', (!$('#'+this.id+':checked').length>0));"><span class="custom-checkbox"></span></th>
                                <th>Tipo de Produto</th>
                                <th>Estoque Atual</th>
                                <th>Estoque Desejado</th>
                                <th>Qtd. Solicitada</th>
                                <th>Demanda Atual</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for configuracao in configuracoes %}
                            <tr style="{% if configuracao.get_demanda_atual %}background: rgba(243, 206, 133, 0.2);{% endif %}">
                                <td><input id="checkbox{{ configuracao.tipo_produto.pk }}" name="pk" type="checkbox" onchange="$('#_'+this.id+'').prop('disabled', (!$('#'+this.id+':checked').length>0))"><span class="custom-checkbox"></span></td>
                                <td>{{ configuracao.tipo_produto }}</td>
                                <td align="right">{{ configuracao.get_estoque_atual }}</td>
                                <td align="right">{{ configuracao.get_estoque_desejado }}</td>
                                <td align="right">{{ configuracao.get_qtd_solicitada }}</td>
                                <td align="right"><input style="width:50px;" class="form-control" id="_checkbox{{ configuracao.tipo_produto.pk }}" maxlength="255" name="quantidade" type="text" disabled value="{{ configuracao.get_demanda_atual }}"></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}