<div style="padding: 10px">
{% for pedido in pedidos%}
    <p class="text-center"><a href="/view/fabrica/pedido/{{ pedido.pk }}/">{{ pedido }}</a></p>
    {{ pedido|getattr:"get_status" }}
{% endfor %}
</div>