{% extends "admin.html" %}

{% block content %}
    <div class="padding-md">
        <div class="row">

                <div class="col-lg-12 panel-heading">
                    <h3><i class="fa fa-th fa-lg"></i> Visualizar Estoque</h3>
                </div>

        </div>
        <br/>
        <div class="panel panel-default">
            <div class="panel-body">
            <table class="table table-bordered" id="dataTable">
                <thead>
                    <tr>
                        <th>Tipo de Produto</th>
                        <th>Estoque Atual</th>
                        <th>Estoque Desejado</th>
                        <th>Qtd. Solicitada</th>
                        <th>Demanda Atual</th>
                    </tr>
                </thead>
                <tbody>
                    {% for configuracao in configuracoes %}
                    <tr style="{% if configuracao.get_demanda_atual %}background: rgba(243, 206, 133, 0.2);{% endif %}">
                        <td>{{ configuracao.tipo_produto }}</td>
                        <td align="right">{{ configuracao.get_estoque_atual }}</td>
                        <td align="right">{{ configuracao.get_estoque_desejado }}</td>
                        <td align="right">{{ configuracao.get_qtd_solicitada }}</td>
                        <td align="right">{{ configuracao.get_demanda_atual }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
        </div>

    </div>
{% endblock %}